node_modules/
.next/
.turbo/
public
**/**/node_modules
**/**/.next
**/**/public

*.lock
*.log

.gitignore
.eslintignore

src/hooks/use-dropzone/index.tsx
src/lib/infer-ssr-props.ts
src/modules/classes/change-section-modal.tsx
src/modules/classes/invite-teachers-modal.tsx
src/modules/editor/top-bar.tsx
